.calendar {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
  }
  
  .month-view {
    max-width: 100%;
    margin: 40px auto;
  }

  .col-md-4{
    text-align: right;
  }

  .btn {
    font-weight: 900;
  }